.custom-layout {
  height: 400px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  .am-header,
  .am-footer {
    padding: 16px 0;
    background: rgba(#4e57ef, 0.3);
  }
  .am-main {
    background: rgba(#4e57ef, 0.8);
  }
  .am-aside {
    padding: 16px;
    background: rgba(#4e57ef, 0.6);
  }
}
p {
  padding-bottom: 10px;
}