.custom-grid {
  .am-row {
    font-size: 16px;
    color: #fff;
    text-align: center;
    > div:not(.am-col-row-gutter) {
      background: rgba(#4e57ef, 0.8);
      padding: 16px 0;
      &:nth-child(2n + 1) {
        background: #cfd7ff;
      }
    }
    & + .am-row {
      margin-top: 14px;
    }
    > .am-col-gutter {
      > div {
        background: rgba(#4e57ef, 0.8);
        padding: 16px 0;
      }
    }
  }
}
.custom-grid .am-row > div:not(.am-col-row-gutter):nth-child(2n + 1) {
  background: #cfd7ff;
}